# ============================================================
# ft_transcendence — .env
# ============================================================

# =========================
# Entorno
# =========================
ENV=local


URL=https://localhost:6969

# URL=https://PUESTO_42:6969
NGINX_HTTP_PORT=1312
NGINX_HTTPS_PORT=6969

# =========================
# Backend
# =========================
BACKEND_PORT=8080
GO_SERVICE_HOST=0.0.0.0
GO_SERVICE_PORT=8080

# =========================
# Frontend
# =========================
FRONTEND_PORT=3000
PUBLIC_API_URL=https://localhost:6969/api/v1

# =========================
# PostgreSQL
# =========================
DB_HOST=postgres
DB_PORT=5432
DB_NAME=transcendence
DB_USER=postgres
DB_PASSWORD=aaaa
DB_SSLMODE=disable
DB_TIMEZONE=Europe/Madrid

# =========================
# PgAdmin
# =========================
PGADMIN_PORT=5050
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin123

# =========================
# JWT
# =========================
JWT_SECRET=uwu-super-mega-secret-for-jwt-auth
JWT_EXPIRATION=86400

# =========================
# CORS
# =========================
GO_ALLOWED_URLS=https://localhost:6969

# =========================
# 2FA
# =========================
ISSUER_2FA=Tuentifour
EXPIRATION_2FA=300

# =========================
# Nginx / Reverse Proxy
# =========================
DOMAIN=localhost
PROJECT_NAME=ft_transcendence

BACKEND_INTERNAL_URL=http://backend:8080
FRONTEND_INTERNAL_URL=http://frontend:3000

NGINX_HOST=localhost
NGINX_HTTP_PORT=1312
NGINX_HTTPS_PORT=6969

SSL_CERT_PATH=
SSL_KEY_PATH=

# =========================
# OAuth 42
# =========================
OAUTH42_CLIENT_ID=consultar_sara
OAUTH42_CLIENT_SECRET=consultar_sara
OAUTH42_REDIRECT_URI=https://localhost:6969/api/v1/auth/42/callback
# OAUTH42_REDIRECT_URI=https://PUESTO_42:6969/api/v1/auth/42/callback 
#CAMBIAR Redirect Uri EN API 42


# =========================
# Redis
# =========================
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=jqdqgd

# =========================
# Elastic Stack
# =========================
ELASTIC_USER=elastic
ELASTIC_PASSWORD=changeme
KIBANA_PASSWORD=changeme

STACK_VERSION=9.4.2
CLUSTER_NAME=docker-cluster
LICENSE=basic

ES_PORT=9200
KIBANA_PORT=5601

ES_MEM_LIMIT=1073741824
KB_MEM_LIMIT=1073741824
LS_MEM_LIMIT=1073741824

ENCRYPTION_KEY=c34d38b3a14956121ff2170e5030b471551370178f43e5626eec58b04a30fae2

# =========================
# Grafana
# =========================
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin123
GF_AUTH_ANONYMOUS_ENABLED=false
GF_USERS_ALLOW_SIGN_UP=false