@use './base/reset';

@use './abstracts/functions' as *;
@use './abstracts/mixins' as *;
@use './abstracts/variables' as *;


body {
  margin: 0;
  color: black;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-image: linear-gradient(to bottom, white, white);
}

a {
	color: aqua;
}

.content {
  display: flex;
  min-height: 100vh;
  width: 100%;
  line-height: 1.1;
  flex-direction: column;
  position: relative;
}
