// LIGHT MODE COLORS
$background-light: #F8FAFC;

// text colors
$main-text-light: #0F172A;
$secondary-text-light: #475569;
$disabled-text-light: #94A3B8;
$link-light: #276FBF;
$actions-light: #5452C9;

// component colors
//red
$red-background-light: #EF4444;
$red-border-light: #DC2626;
$red-main-text-light: #FFFFFF;
$red-secondary-text-light: #FFEAEA;

// green
$green-background-light: #3EEC92;
$green-border-light: #2DD4BF;
$green-main-text-light: #F1F1F1;
$green-secondary-text-light: #E0F8EE;

// orange
$orange-background-light: #F59E0B;
$orange-border-light: #D97706;
$orange-main-text-light: #FFFFFF;
$orange-secondary-text-light: #FFF7E0;

// light blue
$blue-background-light: #6DCEF5;
$blue-border-light: #4FB0E0;
$blue-main-text-light: #F1F1F1;
$blue-secondary-text-light: #E0E7FF;

// dark blue
$dark-blue-background-light: #4F7FD9;
$dark-blue-border-light: #3B64B3;
$dark-blue-main-text-light: #FFFFFF;
$dark-blue-secondary-text-light: #DDE0FF;

// light purple
$light-purple-background-light: #6A68EE;
$light-purple-border-light: #5452C9;
$light-purple-main-text-light: #FFFFFF;
$light-purple-secondary-text-light: #E5E7EB;

// dark purple
$dark-purple-background-light: #5452C9;
$dark-purple-border-light: #6D28D9;
$dark-purple-main-text-light: #FFFFFF;
$dark-purple-secondary-text-light: #DDE0FF;

// light gray
$light-gray-common-components: #E1E1E1;

// ——————————————————————————————————————————————————————————————————————— \\

// DARK MODE COLORS
$background-dark: #1F2533;

// text colors
$main-text-dark: #E5E7EB;
$secondary-text-dark: #AAB1C3;
$disabled-text-dark: #6B7280;
$link-dark: #A5A3FF;
$actions-dark: #7C7AF2;

// component colors
//red
$red-background-dark: #F87171;
$red-border-dark: #EF4444;
$red-main-text-dark: #FFFFFF;
$red-secondary-text-dark: #FFEAEA;

// green
$green-background-dark: #16DF77;
$green-border-dark: #34D399;
$green-main-text-dark: #F1F1F1;
$green-secondary-text-dark: #E0F8EE;

// orange
$orange-background-dark: #FBBF24;
$orange-border-dark: #F59E0B;
$orange-main-text-dark: #F1F1F1;
$orange-secondary-text-dark: #FFF7E0;

// light blue
$blue-background-dark: #8ADAF7;
$blue-border-dark: #F1F1F1;
$blue-main-text-dark: #F1F1F1;
$blue-secondary-text-dark: #E0F0FF;

// dark blue
$dark-blue-background-dark: #6A92E6;
$dark-blue-border-dark: #4F7FD9;
$dark-blue-main-text-dark: #FFFFFF;
$dark-blue-secondary-text-dark: #DDE0FF;

// light purple
$light-purple-background-dark: #7C7AF2;
$light-purple-border-dark: #6A68EE;
$light-purple-main-text-dark: #FFFFFF;
$light-purple-secondary-text-dark: #EDEFFF;

// dark purple
$dark-purple-background-dark: #5B59D6;
$dark-purple-border-dark: #4A48B8;
$dark-purple-main-text-dark: #FFFFFF;
$dark-purple-secondary-text-dark: #DDE0FF;

$background-gray: #E4E4E4;

//PROFILE
$background-page: #E4E4E4;
$background-profile: #FFFFFF;
$color-banner: #7B7C37;
$color-logo-bg: #FF1C1C;
$color-status-dot: #00E676;
$color-visitas-text: #666;
$color-btn-follow: #6A5ACD;
$color-btn-share: #1DE9B6;
$color-text-light: #888;
$color-post-bg: #F8F9FA;