.action-buttons {
  display: flex;
  gap: 15px;

  .share-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-decoration: none;

    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 0.9em;
    background-color: $color-btn-share;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $color-btn-share-hover;
    }
  }
}