@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.privHeader {
    width: 100%;
    background-color: $dark-purple-background-light;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px $dark-purple-background-light;

    &__left,
    &__center,
    &__right {
        color: $dark-purple-main-text-light;
        display: flex;
        align-items: center;
        height: 100%;
    }

    &__center {
        justify-content: center;
    }

    &__right {
        justify-content: flex-end;
    }

    &__logo {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        text-decoration: none;
        color: $dark-purple-main-text-light;
    }

    &__logo-img {
        height: 60px;
        width: auto;
        filter: brightness(0) invert(1);
    }

    &__games-link {
        text-decoration: none;
        color: $dark-purple-main-text-light;
        font-size: 1rem;
        font-weight: bold;
        background-color: $orange-background-light;
        padding: 0.5rem 0.8rem;
        border-radius: 10px;

        &:hover {
            color: $actions-light;
        }
    }
}