@use "sass:color";

@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.settings {
	position: relative;
	display: inline-block;
	width: 100%;

	&__section {
		margin-bottom: 30px;
		position: relative;
		display: inline-block;
		width: 100%;
	}

	&__form {
		display: inline-block;
		flex-direction: column;
		gap: 20px;
		position: relative;
	}

	&__field {
		position: relative;
		margin-bottom: 15px;
	}

	&__field-tooltip {
		position: absolute;
		bottom: 50%;
		min-width: 200px;
		max-width: fit-content;
		transform: translateY(20%);
		background-color: $red-background-light;
		color: white;
		padding: 4px 10px;
		border-radius: 4px;
		font-size: 0.75rem;
		z-index: 10;
		pointer-events: auto;
		cursor: pointer;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
		user-select: none;
		transition: opacity 0.2s ease, transform 0.2s ease;
		animation: fadeOut 5s forwards;

		&:active {
			transform: scale(0.95);
		}

		&::after {
			content: "";
			position: absolute;
			bottom: -4px;
			left: 10px;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-top: 5px solid $red-background-light;
		}

		&::hover {
			background-color: color.scale($red-background-light, $lightness: -15%);
		}
	}
}