@use "../../abstracts/variables" as *;
@use "../../components/buttons" as *;

.searchBar {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: 100%;
  max-width: 50%;

  &__input {
    flex: 1;
	max-width: 80%;
    height: 40px;
    padding: 0 1rem;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: $light-gray-common-components;
  }

  &__button {
    @extend .button--icon;
  }

  &__icon {
    font-size: 1.2rem;
  }
}

@media (max-width: 700px) {
  .searchBar {
    max-width: 100%;
  }
}
